<template>
  <div>
    <p>{{ number }}</p>

    <template v-if="users[0] !== undefined">
      <h4>Hi, i'm a result from the backend code</h4>
      <p>Name: {{ users[0].name }}</p>
      <p>Age: {{ users[0].age }}</p>
      <p>Email: {{ users[0].email }}</p>
      <p>Type: {{ getUserType(users[0]) }}</p>
    </template>

    <br>
    <hr>

    <VueGotchaTests />
  </div>
</template>

<script lang="ts">
import { User, UserType } from '@xt9/backend';
import { add } from '@xt9/shared';
import { defineComponent, ref } from 'vue';
import { fetchUsers } from './api/user';
import VueGotchaTests from './components/VueGotchaTests.vue';

export default defineComponent({
  name: 'App',
  components: {
    VueGotchaTests,
  },
  setup() {
    const users = ref<User[]>([]);
    const number = ref(0);
    const nameOverride = ref('');

    return {
      users,
      number,
      nameOverride,
    };
  },
  async created() {
    this.users = await fetchUsers();
    window.setInterval(() => {
      this.number = add(this.number, 10);
    }, 1000);
  },
  methods: {
    getUserType(user: User): string {
      switch (user.type) {
        case UserType.TEACHER:
          return 'Teacher';
        case UserType.SUPERVISOR:
          return 'Supervisor';
        default:
          throw Error('Not all types supplied');
      }
    },

    onClick(): void {
      this.users[0].name = this.nameOverride;
    },
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
