<template>
  <div>
    <h1>Vue gotcha tests</h1>

    <h2>Add/Remove object properties</h2>
    <div>
      <span>Property name </span>
      <input v-model="newPropName">
      <button @click="addObjectProperty">
        Add
      </button>
      <button @click="removeObjectProperty">
        Remove
      </button>
      <h4>Final object keys</h4>
      {{ Object.keys(object) }}
    </div>

    <br>
    <hr>

    <h2>Update existing property / Deep set</h2>
    <div>
      <span>Add property </span>
      <p><b>Current name:</b> {{ object.name }}</p>
      <button @click="updateName">
        Update name
      </button>
      <p><b>Current deepobj prop fruit:</b> {{ deepObj }}</p>
      <button @click="updateNestedProp">
        Update nested property
      </button>
    </div>

    <br>
    <hr>

    <h2>Array set index [0]</h2>
    <div>
      <button @click="updateArray">
        Click me
      </button>
      <p>{{ arr }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

interface ObjectWithNameProp extends Record<string, unknown> {
  name: string;
}

export default defineComponent({
  name: 'VueGotchaTests',
  setup() {
    const object = ref({
      name: 'Boring default name :(',
    } as ObjectWithNameProp);

    const newPropName = ref('');
    const deepObj = ref({
      nested: {
        nested2: {
          fruit: 'Pear',
        },
      },
    });

    const arr = ref([0, 23, 44]);

    return {
      object,
      newPropName,
      deepObj,
      arr,
    };
  },
  methods: {
    addObjectProperty(): void {
      this.object[this.newPropName] = 'bar';
    },

    removeObjectProperty(): void {
      delete this.object[this.newPropName];
    },

    updateName(): void {
      this.object.name = 'Cool updated name!';
    },

    updateNestedProp(): void {
      this.deepObj.nested.nested2.fruit = 'Apple!';
    },

    updateArray(): void {
      if (this.arr.length > 0) {
        this.arr[0] = this.arr[0] * 2 + 10;
      }
    },
  },
});
</script>

<style>
</style>
